body {
    background-color: lightblue;
}

.topNav {

    overflow:hidden;
    background-color: darkblue;
    height: 50px;
}

.topNav a {
    float: left;


    background-color: white;
    color: black;
    text-align: center;
    
    padding-left: 25px;
    padding-right: 25px;
    
    padding-top: 20px;
    padding-bottom: 20px;
    
    text-decoration: none;
    font-size: 15px;
}

.topNav a:hover {
    background-color: darkcyan;
    color:white;
}
